<div class="row">
  <div class="col-sm-6 d-none d-sm-block" style="margin-top: 20px;">
    <div
      class="card p-1 shadow-lg p-1"
      style="max-width: 300px;max-height: 230px;margin-left: 30px;"
    >
      <img class="card-img-top" src="../../assets/inst3.jpg" alt="" />
    </div>
    <div
      class="card p-1 shadow-lg p-1"
      style="max-width: 250px;max-height: 300px;margin-left: 70px;margin-top: -15px;"
    >
      <img class="card-img-top" src="../../assets/insta4.jpg" alt="" />
    </div>
  </div>
  <div class="col-sm-6 col-xs-12" style="text-align: center;margin-top: 50px;">
    <div class="card" style="max-width: 400px;max-height: 300px;">
      <div class="card-body" style="text-align: center;">
        <h4 class="card-title">Picsapp</h4>
        <hr />
        <div class="form-group">
          <input
            class="form-control"
            id="email"
            placeholder="Mobile number, Username or email"
            readonly
          />
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="password"
            id="password"
            placeholder="Password"
            readonly
          />
        </div>

        <a class="btn btn-success btn-block" href="#">Login</a>
        <div style="margin-top: 30px;">
          <a class="text-muted">Forgot password ?</a>
        </div>
      </div>
    </div>
    <div class="card " style="margin-top:30px;max-width: 400px;height: 70px;">
      <a style="margin-top: auto;margin-bottom: auto;"
        >Don't have an account ?
        <strong class="text-primary">Sign Up</strong></a
      >
    </div>
  </div>
</div>
